nav {
background-color: rgb(49, 49, 53);
position: fixed;
width: 100%;
position: relative;
}

.link {
padding: 10px 40px;
text-decoration: none;
color: rgb(249, 241, 241);
text-transform: uppercase;
}

.link:hover {
color: rgb(116, 243, 74);
}

.products {
display: flex;
flex-wrap: wrap;
justify-content: center;  
align-items: center;
}

.macaroon-card{
padding: 10px;
}

.cont {
display: flex;
justify-content: center;
}

.back {
padding: 20px;
font-family: 'Brygada 1918', serif;
}

.change {
color: rgb(29, 28, 28);
background: none;
padding: 10px;
border: none;
margin: 5px;
font-size: 18px;
text-transform: uppercase;
}

.cream:hover {
background-color: rgb(255, 228, 196, 0.7);
color:rgb(165, 42, 42);
border-radius: 15px;
}

.fruit:hover {
background-color: rgba(154, 231, 138, 0.7);
color:rgb(18, 65, 17);
border-radius: 15px;
}

.berry:hover {
background-color: rgba(237, 88, 103, 0.7);
color:rgb(47, 234, 60);
border-radius: 15px;
}

.chocolate:hover {
background-color: rgba(110, 79, 42, 0.7);
color:rgb(237, 214, 165);
border-radius: 15px;
}

.filling {
display: flex;
justify-content: center;
}

h3 {
font-family: 'Brygada 1918', serif;
}

button {
margin: 10px;
}

.Image {
background:
linear-gradient(rgba(22, 21, 21, 0.4), rgba(19, 18, 18, 0.7)),
url(macarun-green.jpg);
width: 800px;
height: 500px;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
margin: auto; 
position: absolute; 
}

.txt {
justify-content: flex-start;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
color: aliceblue;
font-size: 100px;
font-family: 'Righteous', cursive;
}

/* SHOP */

.Fon {
background-image: url(macarun.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: auto;
bottom: 0;
}

.foto {
display: flex;
justify-content: center;
align-items: center;
position: relative;
align-content: center;
}

.text {
position: absolute;
top: 25px;
margin-left: 30px;
width: 50%;
left: 0px;
color: rgb(226, 221, 221);
font-family: 'Brygada 1918', serif;
font-size: 18px;
}

.text-shop {
position: absolute;
bottom: 25px;
left: 30px;
width: 25%;
color: white;
font-family: 'Brygada 1918', serif;
font-size: 18px;
font-style: italic;
}

.hand-text {
font-size: 35px;
font-family: 'Open Sans', sans-serif;
}

.text-cake {
font-size: 25px;
font-family: 'Open Sans', sans-serif;
text-align: center;

}

span {
color: aliceblue;
font-size: 15px;
padding: 10px;
margin-left: 20px;
}

.card-cake{
border: 2px solid rgb(160, 107, 64);
}

.product-info {
text-align: start;
margin: 10px;
font-size: 15px;
font-family: 'Brygada 1918', serif;
background-color: rgba(245, 213, 171, 0.5);
padding-left: 5px;
}

.btnCurs {
margin-top: 50px;
padding: 10px;
background: rgba(233, 131, 81, 0.5);
border: none;
border-radius: 15px;
}

.btnCurs:hover {
background: rgba(219, 129, 150, 0.5); 
}

.curs {
font-family: 'Andika', sans-serif;
font-size: 18px;
text-decoration: none;
color: rgb(240, 248, 255);

}

.curs:hover {
color: rgb(58, 60, 57);
}

.Shop {
font-size: 20px;
text-decoration: none;
color: aliceblue;
padding: 0px;
}

.Shop:hover {
background-color: rgb(240, 248, 255, 0.7);
color: rgb(33, 33, 33);
padding: 0px;
}

.btnShop {
background: none;
border: none;
padding: 0px;
margin-left: 5px;
margin: 10px;
}

.Home {
background-color:  rgb(22, 26, 35);
}

.textCake {
font-family: 'Andika', sans-serif;
font-size: 15px;
color: rgb(61, 58, 58);
text-align: start;
}

.txt-cake {
margin-top: 50px;
font-size: 30px;
}

.txt-course {
margin: 10px;
font-size: 20px;
font-family: 'Andika', sans-serif;
}

.icon {
margin: 10px;
}

.txtCourse {
margin: 10px;
font-size: 16px;
}

h4 {
padding-top: 20px;
}

/* Application */

.fon-about {
display: flex;
justify-content: center;
position: absolute;
height: 100%;
}

.application-block {
display: flex;
flex-direction: column;
align-items: center;
}

.fon-style {
display: flex;
text-align: center;
width: 50%;
height: auto;
}

.Container {
display: flex;
flex-direction: column;
align-items: center;
}

.text-about {
text-align: center;
position: relative;
color: rgb(11, 10, 10);
font-family: 'Andika', sans-serif;
font-size: 25px;
}

.about-text {
display: flex;
justify-content: center;
align-items: center;
width: 800px;
height: 600;
padding: 50px;
background-repeat: no-repeat;
border-radius: 20px;
}

.text-box {

color: black;
font-size: 18px;
}

.row {
flex-wrap: wrap;
font-family: 'Open Sans', sans-serif;
}

.text-form {
font-family: 'Andika', sans-serif;
font-size: 20px;
}

.contact-form {
background-color: rgb(255, 228, 196);
position: absolute;
}

#btn {
color: rgb(43, 32, 18);
border: 1px solid rgb(43, 32, 18);
}

#btn:hover {
  color: bisque;
  background-color: rgb(197, 132, 100);
}

.container-learning {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
  
/* Examples */


.container-name {
display: flex;
flex-direction: column;
color: #141414;
text-align: center;
font-size: 30px;
font-family: 'Marck Script';
}
  
.container-text {
display: flex;
justify-content: center;
text-align: center;
color: #D1E8E4;
}
  
.container-image {
display: flex;
justify-content: center;
}

  
  /* стрелки */
 

.next {
margin-top: 200px;
border: medium none;
background-image: none; 
background: none;
background-color: transparent;
font-size: 30px;
color: rgb(14, 15, 15);
padding: 20px;
}
  
.previous {
margin-top: 200px;
border: medium none;
background-image: none; 
background-color: transparent;
font-size: 30px;
color: rgb(14, 15, 15);
padding: 20px;
}
  
.next:hover {
color: rgb(237, 231, 231);
border: none;
}
  
.previous:hover {
color: rgb(237, 231, 231);
}

.show {
position: relative;
border: medium none;
background-image: none; 
background: transparent;
background-color: transparent;
font-size: 20px;
color: rgb(248, 252, 244);
float: right;
}
    
.show:hover {
font-size: 20px;
background-color: rgb(94, 96, 96, 0.7);
}
    
.text-show {
font-size: 20px;
font-family: 'Jost', sans-serif;
}  

.name-resept, .resept {
text-align: justify;
font-family: 'Jost', sans-serif;
}

.Recipes {
position: fixed;
}

.Res-text {
margin-top: 20px;
}

.Fon-Recip {
background-image: url(macarun2.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
bottom: 0;
height: 900px;
}

/* Средний */

@media (max-width:800px) {
.Image {
width: 600px;
height: 400px;
}

.nav {
display: flex;
flex-direction: column;
align-items: center;
}

.txt {
font-size: 80px;
}

.link {
padding: 5px 20px;
}
 
.text {
width: auto;
text-align: center;
top: 10px;
font-size: 15px;
margin-left: 0px;
width: auto;
}

.text-shop {
font-size: 18px;
margin-left: 50px;
text-align: center;
margin-left: 0px;
width: auto;
}

.hand-text {
font-size: 28px;
}

.text-cake {
font-size: 20px;
}

.d-block  {
height: auto;
background-size: auto;

}

.cont {
display: flex;
flex-direction: column;
align-items: center;
}

.change {
padding: 5px;
margin: 0px;
font-size: 15px;
}

.product-info {
text-align: center;
margin: 0px;
font-size: 15px;
padding-left: 0px;  
}

.macaroon-card{
padding: 0px;
}

.text-show {
font-size: 18px;
}  

.Fon-Recip {
background-image: none;
}

.img {
height: 350px;
width: 350px;
}

.name-resept, .resept {
padding: 5px;
}

.Res-text {
font-size: 20px;
display: flex;
flex-wrap: wrap;
text-align: center;
}

.previous, .next {
margin-top: 120px;
}

.fon-style {
width: 0;
height: 0;
}

.text-about {
font-size: 20px;
}

.textCake {
align-items: center;
margin-left: 0px;
}

.txt-cake {
text-align: center;
font-size: 25px;
}

.show {
font-size: 15px;
color: rgb(40, 40, 39);
}

.text-box {
font-size: 15px;
}

}


/* маленький */
@media (max-width:320px) {
.Image {
width: 300px;
height: 200px;
}

.nav {
display: flex;
flex-direction: column;
align-items: center;
}

.txt {
font-size: 60px;
}

.link {
padding: 5px 10px;
}

.text {
width: auto;
text-align: center;
top: 10px;
font-size: 12px;
margin-left: 0px;
width: auto;
}

.hand-text {
font-size: 25px;
}
 
.text-cake {
font-size: 15px;
}

.cont {
display: flex;
flex-direction: column;
align-items: center;
}
.txtCourse {
font-size: 15px;
}

.card-cake {
width: 230px;
height: 230px;
}

.product-info {
text-align: center;
margin: 0px;
font-size: 15px;
padding-left: 0px;  
}

.macaroon-card{
padding: 0px;
}

.img {
height: 300px;
width: 300px;
}
  
.name-resept, .resept {
padding: 5px;
}
  
.Res-text {
font-size: 20px;
display: flex;
flex-wrap: wrap;
text-align: center;
}

.previous, .next {
margin-top: 100px;
}

.fon-style {
display: flex;
width: 0;
height: 0;
}
  
}
  



   